{% extends "layouts/base.html" %}
{% set title="Posts" %}

{% import "layouts/macros.html" as macros %}

{% block content %}
{{ super() }}
{% filter markdown %}
You can subscribe to all posts via the [RSS feed]({{base_url}}blog/rss.xml).

This blog has the following ongoing blog-chains:
{% endfilter %}
{{ user_context.post_collections.blog_chains.values() | details_page_list(default_open=false) | render_ul(nopad=true) }}

<section>
{% for year, pages in user_context.post_collections.articles | groupby('date.year') | reverse %}
<h2>{{year}}</h2>
{{ pages | details_page_list | render_ul(nopad=true) }}
{% endfor %}
</section>
{% endblock %}
