{% extends "layouts/base.html" %}
{% set title="Posts" %}

{% import "layouts/macros.html" as macros %}

{% block content %}
{{ super() }}
{% filter markdown %}
You can subscribe via the [RSS feed]({{base_url}}blog/rss.xml).
{% endfilter %}
<section>
<h1>Blogchains</h1>
<ul class="pad-none list-no-bullet">
{% for chain, posts in user_context.post_collections.blog_chains.items() %}
<li>{{ macros.render_blog_chain(chain, posts) }}</li>
{% endfor %}
</ul>
</section>
<section>
<h1>All Posts</h1>
{% call(post) macros.grouped_page_list(user_context.post_collections.articles) %}
<details>
    <summary>{{post.date | format_date}} &ndash; <a href="{{post.fullhref}}">{{post.title}}</a></summary>
    <blockquote>
        {% if post.description is defined and post.description %}
            {{post.description}}
            {% if not post.description_is_full %}
                <p><a href="{{post.fullhref}}">Read More</a></p>
            {% endif%}
        {% else %}
            <p><a href="{{post.fullhref}}">Read Post</a></p>
        {% endif %}
    </blockquote>
</details>
{% endcall %}
</section>
{% endblock %}
