{% macro header(title, subhead=none, subhead_id="", subhead_class="", title_link=none) %}
<header class="text-center text-body-sans border-bot">
{% if title %}
<h1>{% if title_link %}<a href="{{title_link}}">{%endif %}{{title}}{%if title_link%}</a>{%endif%}</h1>
{% endif %}
{% if subhead %}
<p id="{{subhead_id}}" class="{{subhead_class}}">{{subhead}}</p>
{% endif %}
{% if caller is defined %}{{ caller() }}{% endif %}
</header>
{% endmacro %}

{% macro figure(src, txt, caption="", class="", imwidth=none, imheight=none, imclass="") -%}
<figure {% if class != "" %}class="{{class}}"{% else %}class="text-center"{% endif %}>
    <img alt="{{txt}}" title="{{txt}}"  src="{{src}}" {% if imwidth %} width="{{imwidth}}" {% endif %} {%if imheight %} height="{{imheight}}" {% endif %} {% if imclass !="" %} class="{{imclass}}" {%endif%}/>
    {%- if caption != "" %}<figcaption class="s-gray">{{caption}}</figcaption>{% endif %}
</figure>
{%- endmacro %}
