{% macro header(title, subhead=none, subhead_id="", subhead_class="") %}
<header class="text-center text-body-sans border-bot">
{% if title %}
<h1>{{title}}</h1>
{% endif %}
{% if subhead %}
<p id="{{subhead_id}}" class="{{subhead_class}}">{{subhead}}</p>
{% endif %}
</header>
{% endmacro %}

{% macro figure(src, txt, caption="", class="", imwidth=none, imheight=none, imclass="") -%}
<figure {% if class != "" %}class="{{class}}"{% else %}class="text-center"{% endif %}>
    <img alt="{{txt}}" title="{{txt}}"  src="{{src}}" {% if imwidth %} width="{{imwidth}}" {% endif %} {%if imheight %} height="{{imheight}}" {% endif %} {% if imclass !="" %} class="{{imclass}}" {%endif%}/>
    {%- if caption != "" %}<figcaption class="s-gray">{{caption}}</figcaption>{% endif %}
</figure>
{%- endmacro %}

{% macro grouped_page_list(pages) %}
{% for year, items in pages | groupby('date.year') | reverse -%} {# Note that this reverse is necessary to keep the years sorted reverse chronologically, even when the input posts is sorted correctly. #}
  <h2 class="">{{year}}</h2>
  <ul class="list-no-bullet pad-none">
    {% for post in items %}
    <li class="">
        {{caller(post)}}
    </li>
    {%endfor %}
</ul>
{% endfor %}
{% endmacro %}
