{% extends "layouts/post.html" %}
{% set title = "Note: " + date | format_datetime %}
{% block metadata %}
{{ super()  }}
{% set _ = ns.push_dict.update({'description_is_full': remainder.strip() == '', 'is_note': True}) %}
{# On the python side, a note should be considered to have no title! #}
{% set _ = ns.push_dict.pop('title') %}
{% endblock %}

{% block content_header %}
<header>
{% if date is defined %}
<p id="date">From: {{date | format_datetime}}</p>
{% endif %}
</header>
<hr />
{% endblock %}

