{% extends "layouts/base.html" %}


{% block content_header %}
<header class="s-center">
<h1>{{title}}</h1>
{% if date is defined %}
<p id="date">{{date | format_date}}</p>
{% endif %}
</header>
<hr />
{% endblock %}


{% block main %}
<article>
{{ super() }}
</article>
{% endblock %}
{% block content %}
<!--<div class="article-body"> -->
{{ body_html }}
<!-- </div> -->
{% endblock %}

{% block footer_scripts %}
{{super() }}
<div>
    <h2 class="s-center">Comments</h2>
</div>
<div class="s-center" id="disqus_thread"><a onclick="load_comments();">Load comments</a></div>
<script>
    function load_comments() {
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        var disqus_config = function () {
            this.page.url = '{{fullhref}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{fullhref}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
            var d = document, s = d.createElement('script');

            s.src = '//jpeoples.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% block do_push %}
{% set content_val = body_html %}
{% set val = push_to_collection({'title': title, 'date': date | parse_date, 'content': content_val}) %}
{% endblock do_push %}
{% endblock %}
{# Push post onto list of posts #}
