












{% extends "layouts/base.html" %}
{% import "layouts/macros.html" as macros %}

{%block head %}
{{ super()  }}
<style>
.cv dl { display: grid; grid-template-columns: max-content 1fr; }
.cv dd { margin-left: 1em;}
.cv dt { text-align: right; }
.cv dl dd div.s-float-right { display: block; float: right; text-align: right; }
.cv ul { list-style-position: inside; padding-left: 0; margin-top: 0.1em; margin-bottom: 0.1em;}
</style>
{% endblock %}


{% block content_header %}
{{ macros.header("Jacob J. Peoples","PhD Candidate, Queen's University") }}
{% endblock %}

{% block content %}
<div class="cv">
<hr />
<h2>Education</h2>

<dl>
    <dt>2016/09 &ndash; present
</dt>
    <dd><strong>PhD Computing</strong>, Queen's University


</dd>
    <dt>2014/09 &ndash; 2016/08
</dt>
    <dd><div class="s-float-right">Promoted to PhD</div><strong>MSc Computing</strong>, Queen's University


</dd>
    <dt>2010/09 &ndash; 2014/04
</dt>
    <dd><div class="s-float-right">GPA: 4.15/4.3</div><strong>BScH Mathematical Physics</strong>, Queen's University


</dd>
</dl>

<hr />
<h2>Publications</h2>

<h3>Journal Articles</h3>

<dl>
    <dt>J1
</dt>
    <dd><strong>J. J. Peoples</strong>, G. Bisleri, and R. E. Ellis: Deformable multimodal registration for navigation in beating-heart cardiac surgery. <em>International Journal of Computer Assisted Radiology and Surgery</em>, 2019.    (<a href="https://doi.org/10.1007/s11548-019-01932-2">doi: 10.1007/s11548-019-01932-2</a>)



</dd>
</dl>

<h3>Refereed Abstracts</h3>

<dl>
    <dt>A2
</dt>
    <dd>M. S. Hefny, <strong>J. J. Peoples</strong>, M. L. Zec, D. R. Pichora, and R. E. Ellis: Topologically consistent triangulation for computer assisted surgery planning. In <em>CARS 2016, International Journal of Computer Assisted Surgery (Suppl 1)</em>, 2016.


</dd>
    <dt>A1
</dt>
    <dd>M. S. Hefny, <strong>J. J. Peoples</strong>, M. L. Zec, D. R. Pichora, and R. E. Ellis: Atlas-based scaphoid fixation planning. In <em>Proceedings of the Annual Meetings of CAOS-International</em>, 2016.


</dd>
</dl>

<h3>Preprints</h3>

<dl>
    <dt>P1
</dt>
    <dd>K. Cannon, C. Hanna, and <strong>J. Peoples</strong>: Likelihood-ratio ranking statistic for compact binary coalescence candidates with rate estimation. <em>arXiv preprint arXiv:1504.04632</em>, 2015.


</dd>
</dl>

<hr />
<h2>Research Experience</h2>

<dl>
    <dt>2016/09 &ndash; present
</dt>
    <dd><strong>Graduate Researcher (PhD)</strong>, Queen's University


</dd>
    <dt>2014/09 &ndash; 2016/08
</dt>
    <dd><strong>Graduate Researcher (Master's)</strong>, Queen's University


</dd>
    <dt>2015/10 &ndash; 2016/01
</dt>
    <dd><strong>Special Research Student</strong>, Nara Institute of Science and Technology


</dd>
    <dt>2013/05 &ndash; 2013/08
</dt>
    <dd><strong>Summer Undergraduate Researcher</strong>, Canadian Institute for Theoretical Astrophysics


</dd>
</dl>

<hr />
<h2>Teaching Experience</h2>

<dl>
    <dt>2018 Winter
</dt>
    <dd><strong>Instructor</strong>, Discrete Mathematics for Computing I (CISC102), Queen's University


</dd>
    <dt>2017/03/28
</dt>
    <dd><strong>Guest Lecturer</strong>, Continuous Coordinate Transformations (CISC881), Queen's University


</dd>
    <dt>2017/01/16
</dt>
    <dd><strong>Guest Lecturer</strong>, Continuous Coordinate Transformations (CISC881), Queen's University


</dd>
    <dt>2017/01/14
</dt>
    <dd><strong>Guest Lecturer</strong>, Continuous Coordinate Transformations (CISC881), Queen's University


</dd>
    <dt>2016 Fall
</dt>
    <dd><strong>Teaching Assistant</strong>, Discrete Mathematics for Computing I (CISC102), Queen's University


</dd>
    <dt>2015 Fall
</dt>
    <dd><strong>Teaching Assistant</strong>, Logic for Computing Science (CISC204), Queen's University


</dd>
    <dt>2014 Fall
</dt>
    <dd><strong>Teaching Assistant</strong>, Discrete Mathematics for Computing I (CISC102), Queen's University


</dd>
</dl>

<hr />
<h2>Awards and Honours</h2>

<h3>Research Scholarships</h3>

<dl>
    <dt>2017/09 &ndash; present
</dt>
    <dd><strong>NSERC PGS-D</strong>, CAD 21,000 per annum


</dd>
    <dt>2016/09 &ndash; 2017/08
</dt>
    <dd><strong>Queen Elizabeth II Graduate Scholarship in Science and Technology</strong>, CAD 15,000


</dd>
    <dt>2015/05 &ndash; 2016/04
</dt>
    <dd><strong>NSERC Alexander G. Bell CGS-M</strong>, CAD 17,500


</dd>
    <dt>2015/11 &ndash; 2016/01
</dt>
    <dd><strong>JASSO Student Exchange Support Program for Short Term Study in Japan</strong>


</dd>
    <dt>2013/05 &ndash; 2013/08
</dt>
    <dd><strong>NSERC Undergraduate Summer Research Award</strong>


</dd>
</dl>

<h3>Undergraduate Awards</h3>

<p><em>All awards listed below were awarded by Queen's University</em></p>

<dl>
    <dt>2014
</dt>
    <dd>Medal in Mathematical Physics; Dean's Honour List


</dd>
    <dt>2013
</dt>
    <dd>Dean's Honour List; Nellie and Ralph Jeffery Award in Mathematics


</dd>
    <dt>2012
</dt>
    <dd>Dean's Honour List with Distinction; Susan Near Prize in Mathematics; Susan Near Prize in Physics; Dora and Beatrice Helmkay Scholarship in Mathematics


</dd>
    <dt>2011
</dt>
    <dd>Dean's Honour List with Distinction; William Coombs Baker Memorial Prize; Day Prize in Physics and Mathematics; Annie Bentley Lillie Prize in First Year Calculus; Principal's Scholarship


</dd>
    <dt>2010
</dt>
    <dd>Principal's Scholarship


</dd>
</dl>

<hr />
<h2>Conference Presentations</h2>

<h3>Talks</h3>

<dl>
    <dt>CT2
</dt>
    <dd><strong>J. J. Peoples</strong>, G. Bisleri, and R. E. Ellis: Deformable Multi-Modal Registration for Navigation in Beating-Heart Cardiac Surgery. Presented at <em>IPCAI 2019</em>, by J. J. Peoples, 2019/06/19    (<a href="http://medialibrary.cars2019.org/mediatheque/media.aspx?mediaId=70854&channel=70776">video</a>)



</dd>
    <dt>CT1
</dt>
    <dd><strong>J. J. Peoples</strong>, G. Bisleri, and R. E. Ellis: Deformable Multi-Modal Registration for Navigation in Beating-Heart Cardiac Surgery. Presented at <em>IPCAI 2019</em>, by J. J. Peoples, 2019/06/18    (<a href="http://medialibrary.cars2019.org/mediatheque/media.aspx?mediaId=70821&channel=70776">video</a>)



</dd>
</dl>

<h3>Posters</h3>

<dl>
    <dt>CP1
</dt>
    <dd><strong>J. J. Peoples</strong>, G. Bisleri, and R. E. Ellis: Deformable Multi-Modal Registration for Navigation in Beating-Heart Cardiac Surgery. Presented at <em>IPCAI 2019</em>, by J. J. Peoples, 2019/06/18 to 2019/06/19


</dd>
</dl>

</div>

{% endblock %}
