{% extends "layouts/base.html" %}
{% set title="Notes" %}
{% import "layouts/macros.html" as macros %}

{% block content %}
{{ super() }}
{% filter markdown %}
You can subscribe via the [RSS feed]({{base_url}}notes/rss.xml).
{% endfilter %}
{% call(post) macros.grouped_page_list(notes) %}
    <a href="{{post.fullhref}}">{{post.date | format_datetime}}</a>
    {% if post.description is defined %}
        <blockquote class="s-no-margin-horizontal s-no-margin-vertical">
            {{post.description}}
            {% if not post.description_is_full %}
                <p><a href="{{post.fullhref}}">Read More</a></p>
            {% endif%}
        </blockquote>
    {% endif %}
{% endcall %}
{% endblock %}
