{% extends "layouts/base.html" %}
{% set title="Notes" %}

{% block content %}
{{ super() }}
{% filter markdown %}
You can subscribe via the [RSS feed]({{base_url}}notes/rss.xml).
{% endfilter %}
{% for year, items in notes | groupby('date.year') | reverse -%} {# Note that this reverse is necessary to keep the years sorted reverse chronologically, even when the input posts is sorted correctly. #}
  <h2>{{year}}</h2>
  <ul>
    {% for post in items %}
    <li><a href="{{post.fullhref}}">{% if post.title is defined %}{{post.date | format_date}} &ndash; {{post.title}}{% else %}{{post.date | format_datetime}}{% endif %}</a>
    {% if post.description is defined and post.description.strip() != '' %} <blockquote>{{post.description}}</blockquote>{% endif %}
    </li>
    {%endfor %}
</ul>
{% endfor %}
{% endblock %}
