{% extends "layouts/web_cv.html" %}
{% set title = "About" %}
{% set about = "About Jacob Peoples" %}

{% import "layouts/macros.html" as macros %}

{% block content %}


{{ macros.figure("me.png" | ensure_fullhref, "Photo of Jacob Peoples", class="margin-none float-right", imwidth=150, imheight=150) }}
{% filter markdown %}

I am a computer scientist and researcher, having recently defended my
PhD at Queen's University. My PhD research focused on point set
registration algorithms with applications in computer assisted surgery
and computer vision. I have also done research on the preprocessing and
statistical analysis of 3D shapes.

You can **find me** on [Twitter](https://twitter.com/__jpeoples) or
[GitHub](https://github.com/jpeoples).

You can **subscribe** to this blog by RSS:

*   [All content]({{base_url}}shared_rss.xml)
*   [Long posts]({{base_url}}blog/rss.xml)
*   [Short notes]({{base_url}}notes/rss.xml)

See my academic CV below, or in [pdf]({{ "web_cv.pdf" | ensure_fullhref
}}) format.

{% endfilter %}

{{ super() }}

{%endblock%}
