{% extends "layouts/base.html" %}
{% set title = "About" %}


{% block content %}
{{ super() }}

<div class="s-float-right s-pad-small"><img src="{{base_url}}me.png" width="150" height="150" alt="Photo of Jacob Peoples"></div>
{% filter markdown %}

I am a computer science PhD student studying probabilistic deformable
point set registration algorithms with applications in computer assisted
surgery and computer vision. I have also done research on the
preprocessing and statistical analysis of 3D shapes.

You can **find me** on [Twitter](https://twitter.com/JacobJPeoples) or
[GitHub](https://github.com/jpeoples).

You can **subscribe** to this blog by RSS:

*   [All content]({{base_url}}shared_rss.xml)
*   [Long posts]({{base_url}}blog/rss.xml)
*   [Short notes]({{base_url}}notes/rss.xml)




## Academic Publications
### Journal Articles
*   **Peoples JJ**, Bisleri G, Ellis RE: Deformable multi-modal
    registration for navigation in beating-heart cardiac surgery.
    International Journal of Computer Assisted Surgery, 14(6):955-966, 2019.
    [doi:10.1007/s11548-019-01932-2](https://doi.org/10.1007/s11548-019-01932-2).

### Refereed Abstracts
*   Hefny MS, **Peoples JJ**, Zec ML, Pichora DR, Ellis RE: Topologically
    consistent triangulation for computer assisted surgery planning.
    International Journal of Computer Assisted Surgery, 11(Suppl
    1):S109-S111, 2016.

*   Hefny MS, **Peoples JJ**, Zec ML, Pichora DR, Ellis RE: Atlas-based
    scaphoid fixation planning. Proceedings of Computer Assisted
    Orthopedic Surgery (CAOS International), 16:470-472, 2016.

### Preprints

*   Cannon K, Hanna C, **Peoples J**: Likelihood-ratio ranking statistic
    for compact binary coalescence candidates with rate estimation.
    arXiv:1504.04632 [astro-ph.IM], 2015.
{% endfilter %}
{%endblock%}
