{% extends "layouts/base.html" %}
{% set title="Jacob Peoples" %}


{% block content %}
{{ super() }}

<div class="s-float-right s-pad-small"><img src="{{base_url}}me.png" alt="Photo of Jacob Peoples"></div>
{% filter markdown %}
I am a PhD student studying probabilistic deformable point set
registration algorithms with applications in computer assisted surgery
and computer vision. I have also done research on the preprocessing and
statistical analysis of 3D shapes.

## Publications
### Journal Articles
*   **Peoples JJ**, Bisleri G, Ellis RE: Deformable multi-modal
    registration for navigation in beating-heart cardiac surgery.
    International Journal of Computer Assisted Surgery, 2019.
    (Online-first available, print forthcoming)
    doi:10.1007/s11548-019-01932-2.

### Refereed Abstracts
*   Hefny MS, **Peoples JJ**, Zec ML, Pichora DR, Ellis RE: Topologically
    consistent triangulation for computer assisted surgery planning.
    International Journal of Computer Assisted Surgery, 11(Suppl
    1):S109-S111, 2016.

*   Hefny MS, **Peoples JJ**, Zec ML, Pichora DR, Ellis RE: Atlas-based
    scaphoid fixation planning. Proceedings of Computer Assisted
    Orthopedic Surgery (CAOS International), 16:470-472, 2016.

### Preprints

*   Cannon K, Hanna C, **Peoples J**: Likelihood-ratio ranking statistic
    for compact binary coalescence candidates with rate estimation.
    arXiv:1504.04632 [astro-ph.IM], 2015.
{% endfilter %}

<h2>Recent Blog Posts</h2>
<ul>
{% for post in posts[-5:] | reverse %}
<li><a href="{{post.fullhref}}">{{post.date | format_date}} &ndash; {{post.title}}</a></li>
{%endfor %}
</ul>
<div class="s-center"><a href="{{base_url}}blog/">See all posts</a></div>
{% endblock %}
